<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1046</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>copyright</key>
    <string>Copyright 2023 The Young Serif Project Authors (https://github.com//noirblancrouge)</string>
    <key>descender</key>
    <integer>-366</integer>
    <key>familyName</key>
    <string>Young Serif</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2013/01/17 11:19:49</string>
    <key>openTypeHheaAscender</key>
    <integer>1046</integer>
    <key>openTypeHheaDescender</key>
    <integer>-366</integer>
    <key>openTypeNameDesigner</key>
    <string>Bastien Sozeau</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://noirblancrouge.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>NBR — Bastien Sozeau</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://noirblancrouge.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>300</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1046</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-366</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1046</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>366</integer>
    <key>postscriptBlueScale</key>
    <real>0.037</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-13</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>513</integer>
      <integer>750</integer>
      <integer>762</integer>
      <integer>1046</integer>
      <integer>1062</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-381</integer>
      <integer>-366</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Young Serif</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
