<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccedillaacute</key>
    <string>C_cedillaacute.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Ddotbelow</key>
    <string>D_dotbelow.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dmacronbelow</key>
    <string>D_macronbelow.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecedillabreve</key>
    <string>E_cedillabreve.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Emacronacute</key>
    <string>E_macronacute.glif</string>
    <key>Emacrongrave</key>
    <string>E_macrongrave.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gmacron</key>
    <string>G_macron.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hbrevebelow</key>
    <string>H_brevebelow.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>Hdotbelow</key>
    <string>H_dotbelow.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresisacute</key>
    <string>I_dieresisacute.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute</key>
    <string>J_acute.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Ldotbelow</key>
    <string>L_dotbelow.glif</string>
    <key>Lmacronbelow</key>
    <string>L_macronbelow.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Mdotbelow</key>
    <string>M_dotbelow.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ndotaccent</key>
    <string>N_dotaccent.glif</string>
    <key>Ndotbelow</key>
    <string>N_dotbelow.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>Nmacronbelow</key>
    <string>N_macronbelow.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Omacronacute</key>
    <string>O_macronacute.glif</string>
    <key>Omacrongrave</key>
    <string>O_macrongrave.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otildeacute</key>
    <string>O_tildeacute.glif</string>
    <key>Otildedieresis</key>
    <string>O_tildedieresis.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Rdotbelow</key>
    <string>R_dotbelow.glif</string>
    <key>Rmacronbelow</key>
    <string>R_macronbelow.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Sacutedotaccent</key>
    <string>S_acutedotaccent.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scarondotaccent</key>
    <string>S_carondotaccent.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sdotaccent</key>
    <string>S_dotaccent.glif</string>
    <key>Sdotbelow</key>
    <string>S_dotbelow.glif</string>
    <key>Sdotbelowdotaccent</key>
    <string>S_dotbelowdotaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Tdotbelow</key>
    <string>T_dotbelow.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tmacronbelow</key>
    <string>T_macronbelow.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Umacrondieresis</key>
    <string>U_macrondieresis.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>Utildeacute</key>
    <string>U_tildeacute.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydotaccent</key>
    <string>Y_dotaccent.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Ymacron</key>
    <string>Y_macron.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Zdotbelow</key>
    <string>Z_dotbelow.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>blackCircle</key>
    <string>blackC_ircle.glif</string>
    <key>blackDiamond</key>
    <string>blackD_iamond.glif</string>
    <key>blackDownEquilateralArrowhead</key>
    <string>blackD_ownE_quilateralA_rrowhead.glif</string>
    <key>blackLargeSquare</key>
    <string>blackL_argeS_quare.glif</string>
    <key>blackLeftEquilateralArrowhead</key>
    <string>blackL_eftE_quilateralA_rrowhead.glif</string>
    <key>blackRightEquilateralArrowhead</key>
    <string>blackR_ightE_quilateralA_rrowhead.glif</string>
    <key>blackSquare</key>
    <string>blackS_quare.glif</string>
    <key>blackUpEquilateralArrowhead</key>
    <string>blackU_pE_quilateralA_rrowhead.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>cadauna</key>
    <string>cadauna.glif</string>
    <key>careof</key>
    <string>careof.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccedillaacute</key>
    <string>ccedillaacute.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dmacronbelow</key>
    <string>dmacronbelow.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>downBlackTriangle</key>
    <string>downB_lackT_riangle.glif</string>
    <key>downWhiteTriangle</key>
    <string>downW_hiteT_riangle.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecedillabreve</key>
    <string>ecedillabreve.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.subs</key>
    <string>eight.subs.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emacronacute</key>
    <string>emacronacute.glif</string>
    <key>emacrongrave</key>
    <string>emacrongrave.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>figurespace</key>
    <string>figurespace.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.subs</key>
    <string>five.subs.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.subs</key>
    <string>four.subs.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fourthtonechinese</key>
    <string>fourthtonechinese.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gmacron</key>
    <string>gmacron.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hairspace</key>
    <string>hairspace.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hbrevebelow</key>
    <string>hbrevebelow.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hdotbelow</key>
    <string>hdotbelow.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresisacute</key>
    <string>idieresisacute.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jacute</key>
    <string>jacute.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>ldotbelow</key>
    <string>ldotbelow.glif</string>
    <key>leftBlackTriangle</key>
    <string>leftB_lackT_riangle.glif</string>
    <key>leftWhiteTriangle</key>
    <string>leftW_hiteT_riangle.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lmacronbelow</key>
    <string>lmacronbelow.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>mdotbelow</key>
    <string>mdotbelow.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ndotaccent</key>
    <string>ndotaccent.glif</string>
    <key>ndotbelow</key>
    <string>ndotbelow.glif</string>
    <key>nhookleft</key>
    <string>nhookleft.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.subs</key>
    <string>nine.subs.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nmacronbelow</key>
    <string>nmacronbelow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>omacronacute</key>
    <string>omacronacute.glif</string>
    <key>omacrongrave</key>
    <string>omacrongrave.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.subs</key>
    <string>one.subs.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>optionKey</key>
    <string>optionK_ey.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>otildeacute</key>
    <string>otildeacute.glif</string>
    <key>otildedieresis</key>
    <string>otildedieresis.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>prime</key>
    <string>prime.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>propellor</key>
    <string>propellor.glif</string>
    <key>punctuationspace</key>
    <string>punctuationspace.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdotbelow</key>
    <string>rdotbelow.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightBlackTriangle</key>
    <string>rightB_lackT_riangle.glif</string>
    <key>rightWhiteTriangle</key>
    <string>rightW_hiteT_riangle.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>rmacronbelow</key>
    <string>rmacronbelow.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>sacutedotaccent</key>
    <string>sacutedotaccent.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scarondotaccent</key>
    <string>scarondotaccent.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>sdotaccent</key>
    <string>sdotaccent.glif</string>
    <key>sdotbelow</key>
    <string>sdotbelow.glif</string>
    <key>sdotbelowdotaccent</key>
    <string>sdotbelowdotaccent.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>secondtonechinese</key>
    <string>secondtonechinese.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.subs</key>
    <string>seven.subs.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.subs</key>
    <string>six.subs.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>tdieresis</key>
    <string>tdieresis.glif</string>
    <key>tdotbelow</key>
    <string>tdotbelow.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.subs</key>
    <string>three.subs.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>threeDLeftLightedDownEquilateralArrowhead</key>
    <string>threeD_L_eftL_ightedD_ownE_quilateralA_rrowhead.glif</string>
    <key>threeDRightLightedUpEquilateralArrowhead</key>
    <string>threeD_R_ightL_ightedU_pE_quilateralA_rrowhead.glif</string>
    <key>threeDTopLightedLeftEquilateralArrowhead</key>
    <string>threeD_T_opL_ightedL_eftE_quilateralA_rrowhead.glif</string>
    <key>threeDTopLightedRightEquilateralArrowhead</key>
    <string>threeD_T_opL_ightedR_ightE_quilateralA_rrowhead.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tmacronbelow</key>
    <string>tmacronbelow.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.subs</key>
    <string>two.subs.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>umacrondieresis</key>
    <string>umacrondieresis.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upBlackTriangle</key>
    <string>upB_lackT_riangle.glif</string>
    <key>upWhiteArrow</key>
    <string>upW_hiteA_rrow.glif</string>
    <key>upWhiteTriangle</key>
    <string>upW_hiteT_riangle.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>utildeacute</key>
    <string>utildeacute.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>verticallinelowmod</key>
    <string>verticallinelowmod.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>viewdataSquare</key>
    <string>viewdataS_quare.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>whiteCircle</key>
    <string>whiteC_ircle.glif</string>
    <key>whiteDiamond</key>
    <string>whiteD_iamond.glif</string>
    <key>whiteLargeSquare</key>
    <string>whiteL_argeS_quare.glif</string>
    <key>whiteSquare</key>
    <string>whiteS_quare.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotaccent</key>
    <string>ydotaccent.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zdotbelow</key>
    <string>zdotbelow.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.dnom.zero</key>
    <string>zero.dnom.zero.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.lf.zero</key>
    <string>zero.lf.zero.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.numr.zero</key>
    <string>zero.numr.zero.glif</string>
    <key>zero.subs</key>
    <string>zero.subs.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
